{% load static %}

<html lang="ko" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <!-- 부트스트랩 css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

  <style>
    @font-face {
      font-family: 'neodgm';
      src: url('../static/fonts/neodgm.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    #nav-title {
      font-family: 'neodgm';
      font-size: 2.5em;
    }

    table {
      width: auto;
    }
  </style>

  <title>OTAROAD: ADMIN</title>
</head>

<body>
  <!-- 어드민 페이지 navibar -->
  <nav class="navbar navbar-expand-lg bg-dark border-body">
    <div class="container-fluid">
      <img src="{% static 'imgs/dot.png' %}" alt="Bootstrap" width="40" height="40"
        onClick="window.location.reload()" />
      <a class="navbar-brand" id="nav-title" onClick="window.location.reload()">OTAROAD: ADMIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
        aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="" class="nav-link">맵 데이터 관리</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">행사 데이터 관리</a>
          </li>
          <a href="" class="nav-link">통계</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- SUB NAV Bar-->
  <ul class="nav justify-content-end pe-3">
    <li class="nav-item">
      <div class="container">
        <button type="button" class="btn btn-info" onclick="reloadShopList()">
          <img src="{% static '/icons/arrow-clockwise.svg' %}">
          새로고침
        </button>
        <button type="button" class="btn btn-primary" onclick="createShopInfo()">추가</button>
      </div>
    </li>
    <li class="nav-item">
      <div class="container">
        <form class="d-flex" id="search-form" role="search" onsubmit="return false;">
          <div class="input-group" data-bs-theme="light">
            <span class="input-group-text" id="search-icon">
              <img src="{% static '/icons/search.svg' %}">
            </span>
            <input type="search" class="form-control me-6" id="search-input" placeholder="매장명 검색 (없으면 전체)"
              aria-label="Search" name="keyword">
          </div>
          <button class="btn btn-primary" type="submit" onclick="search()" style="display: none;">Search</button>
        </form>
      </div>
    </li>
  </ul>

  <!--MAP DataList-->
  <div class="container-fluid" id="map-data-list" style="display: block;">
    <div class="row justify-content-center align-items-center g-2">
      <div class="col">
        <div class="table-responsive">
          <table class="table align-middle" id="map-data-table">
            <thead class="text-center">
              <tr>
                <th scope="col">매장ID</th>
                <th scope="col">매장명</th>
                <th scope="col">지역</th>
                <th scope="col">주소</th>
                <th scope="col">매장종류</th>
              </tr>
            </thead>
            <tbody class="text-center" id="map-data-tbody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Map DataInfo Modal -->
  <div class="modal fade" id="dataInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="데이터 정보" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="dataInfoModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container" id="dataInfoModal-Body-Container">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Map DataAdd Modal -->
  <div class="modal fade" id="dataAddModal" tabindex="-1" aria-labelledby="dataAddModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="applyModalLabel">매장 데이터 추가하기</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container" id="dataAddModal-Body-Container">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" form="dataAddModalForm" onclick="addShopInfo()" data-bs-dismiss="modal">저장하기</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">저장하지 않고 닫기</button>
        </div>
      </div>
    </div>
  </div>

  <!--Map DataEdit Modal-->
  <div class="modal fade" id="dataEditModal" tabindex="-1" aria-labelledby="dataEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="dataEditModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!--Map DataRemove Modal-->
  <div class="modal fade" id="dataRemoveModal" tabindex="-1" aria-labelledby="dataRemoveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="dataRemoveModalLabel">매장 데이터 제거하기</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          해당 데이터를 제거 하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">제거하기</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- bootstrap js import -->
  <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <!-- util js for otaroad admin import -->
  <script type="text/javascript" src="{% static 'js/otaroad-admin-util.js' %}"></script>
  <!-- request js for otaroad admin import -->
  <script type="text/javascript" src="{% static 'js/otaroad-admin-request.js' %}"></script>
</body>

</html>